%h1 Hospitals in same healthcare system

= link_to "Create Hospital", new_hospital_path
%ul
  - @hospitals.each do |hospital|
    %li
      %strong
        = link_to hospital.name, hospital_path(hospital)
      | 
      %strong
        Max Capacity:
      = hospital.capacity
      |
      = hospital.description
      = link_to "Edit", edit_hospital_path(hospital)
      |
      = link_to "Delete", hospital_path(hospital), method: :delete
= link_to "Back", root_path
