
%div.container
  %div
  = form_for @facility do |f|
    - if f.object.errors.messages.length>0
      - f.object.errors.messages.each do | key, value |
        = key.capitalize
        - value.each do |message|
          = message
          %br/
    = f.label :name, "Name"
    = f.text_field :name
    %br/
    = f.label :bed, "# of Beds"
    = f.number_field :bed
    %br/
    = f.label :description, "Description"
    = f.text_area :description
    %br/
    = f.submit
