- cohort = @cohort
%div.col-md-12
  %div
    %h2
      = "#{cohort.course.title} | #{cohort.location.city}, #{cohort.location.state} | #{cohort.start_date}"
%div.col-md-9
  - cohort.assignments.each do |assignment|
    .div.row
      .div.col-md-8
        .panel.panel-info
          .panel-heading
            %h3.panel-title
              = link_to "#{assignment.summary} Assignment", assignment_path(assignment.id)
          .panel-body
            %p= "#{assignment.instructions[0..249]}#{"\n . . ." if assignment.instructions.length > 250}"
            / = user_has_submitted?(assignment)
      - if current_user.instructor?
        .div.col-md-3
          %ul.nav.nav-pills
            - get_states.each do |state|
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = "#{state.capitalize}"
                  %span.badge= "#{assignment.submissions.where(:workflow_state => state).count}"
                - if assignment.submissions.where(:workflow_state => state).count > 0
                  %ul.dropdown-menu{:role => "menu"}
                    - assignment.submissions.where(:workflow_state => state).each do |submission|
                      %li
                        = link_to "#{submission.user.last_name}, #{submission.user.first_name}", assignment_submission_path(assignment, submission)
  - if current_user.instructor?
    = link_to "Add New Assignment", new_assignment_path(curriculum_id: @cohort.curriculum.id)
