
%html
  %head
    %title Hospital
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div#wrapper
      %div#page-wrapper
        %div.container
          %header.page-header
            %h1 Jim Rambow HealthCare Systems
        = yield
        %div.container
          %div.footer
            %ul.list-inline
              %li 
                = link_to "Home", root_path
