
%div.container
  %div
  = form_for [@facility, @patient] do |f|
    - if f.object.errors.messages.length>0
      - f.object.errors.messages.each do | key, value |
        = key.capitalize
        - value.each do |message|
          = message
          %br/
    = f.label :lastname, "Last Name"
    = f.text_field :lastname
    = f.label :firstname, "First Name"
    = f.text_field :firstname
    %br/
    = f.label :gender, "Gender"
    = f.radio_button :gender, 'Male' 
    Male
    = f.radio_button :gender, 'Female' 
    Female
    %br/
    = f.label :dob, "Date of Birth"
    = f.date_select(:dob, start_year: 1900, end_year: 2014 )
    %br/
    = f.label :description, "Patient Details"
    = f.text_area :description
    %br/
    
    = f.submit
