<h1>Create New Patient</h1>

<%= form_for @patient do |f| %>
	<%= f.label :first_name %>
	<%= f.text_field :first_name %>
<br>
	<%= f.label :last_name %>
	<%= f.text_field :last_name %>
<br>
	<%= f.label :DOB %>
	<%= f.date_select :DOB %>
<br>
	<%= f.label :gender, 'Male', :value => 'male' %>
	<%= f.radio_button :gender, 'male' %>
	<%= f.label :gender, 'Female', :value => 'female' %>
	<%= f.radio_button :gender, 'female' %>
<br>
	<%= f.label :description %>
	<%= f.text_field :description %>
<br>

	<%= f.submit %>

<% end %>