%div.container
  %h2
    = @facility.name

  %h3
    = "#{@patient.lastname + ","}" 
    #{@patient.firstname}
    |
    =@patient.gender
    |
    = "#{((Date.today - @patient.dob)/365.25).round(0)}"
  %br
    = link_to "Edit Patient Information", edit_facility_patient_path(@facility, @patient)
  %hr/

%div.container
  %h4
    Status:
    = @patient.workflow_state
    %br

  Available Actions:

  %ul.list-inline

    %li
      - if @patient.workflow_state != 'paybill' && @patient.workflow_state != 'discharge' && @patient.workflow_state != "checkup"
        = link_to "Examine", transition_facility_patient_path(@facility, @patient, event: 'examine')
    %li
      - if @patient.workflow_state != 'paybill' && @patient.workflow_state != 'discharge' && @patient.workflow_state != "xray"
        = link_to "Order X-Rays", transition_facility_patient_path(@facility, @patient, event: 'scan')
    %li
      - if @patient.workflow_state != 'paybill' && @patient.workflow_state != 'discharge' && @patient.workflow_state != "surgery"
        = link_to "Perform Surgery", transition_facility_patient_path(@facility, @patient, event: 'operate')
    %li
      - if @patient.workflow_state != 'paybill' && @patient.workflow_state != 'discharge' && @patient.workflow_state != "waiting"
        = link_to "Discharge", transition_facility_patient_path(@facility, @patient, event: 'pay')
    %li
      - if @patient.workflow_state == 'paybill' || @patient.workflow_state == 'waiting'
        = link_to "Leave", transition_facility_patient_path(@facility, @patient, event: 'leave')


%div.container
  %table.table
    %tr
      %th Current Medications

    - @patient.medications.each do |prescription|   
      %tr
        %td= prescription.name




%div.container
  %h4 Patient Details:
  %p
    = @patient.description

%div.container
  %p= link_to "Back", facility_path(@facility)




