
= form_for [@hospital, @patient] do |f|
  - if  f.object.errors.messages.length > 0
    - f.object.errors.messages.inspect
    %br/
    - f.object.errors.messages.each do |key, value|
      - value.each do |message|
        = key.capitalize
        = message
        %br/
      %br/
  = f.label :name
  = f.text_field :name
  %br/
  = f.radio_button :gender, 'Male', :checked => true
  = label :gender_male, 'Male'
  = f.radio_button :gender, 'Female'
  = label :gender_female, 'Female'
  %br/
  = f.label :birth
  = f.date_field :birth, :value => Date.today
  %br/
  = f.label :workflow_state

  %select{ :workflow_state => "workflow_state" }
    %option{:value => :waiting}= "Waiting"
    %option{:value => :in_surgery}= "In Surgery"
    %option{:value => :in_xray}= "Getting X-Rays"
    %option{:value => :with_doctor}= "With Doctor"
    %option{:value => :paying}= "Paying"
    %option{:value => :leaving}= "Gone"
  %br/
  = f.label :diagnosis, "Provide a brief diagnosis."
  = f.text_field :diagnosis
  %br/
  = f.submit "Save Patient Info"
  = link_to "Back", new_hospital_patient_path(@hospital, @patient)