%div.row 
  %div.col-md-6
    %div
      %ul.list-inline
        %li
          %h3
            = @submission.title.humanize
        - if current_user.student?
          %li
            = link_to "Edit", edit_assignment_submission_path(@assignment, @submission)
        %li
          %h4.submission-status
            = @submission.workflow_state.humanize
        -if current_user.instructor?
          %p.workflow-options{ajax_path: grade_assignment_submission_path(@assignment, @submission)}
            = render 'submissions/workflow'
    %div
      .well
        = @submission.notes
      .list-group
        - @submission.links.each do |link|
          %a.list-group-item{:href => "#{link.path}"}
            = link.path
    %div
      %iframe{src: "http://tylerlh.github.com/github-latest-commits-widget/?username=#{@submission.user.git_username}&repo=#{@submission.repo}&limit=#{@submission.limit}", allowtransparency: "true", frameborder: "0", scrolling: "no", width: "100%", height: "252px"}


  %div.col-md-6
    %h3 Comment Stream
    %div.comments
      - @submission.comments.each do |comment_var|
        = render 'comments/comment', comment: comment_var
    %div
      = form_for @comment, remote: true do |f|
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :commentable_type, value: "Submission"
        = f.hidden_field :commentable_id, value: @submission.id
        = f.text_area :content, class: "form-control"
        %br
        = f.submit "Add Comment"