!!!
%html
  %head
    / %img{ :src => "assets/images/aperature.jpg"}
    %title Jim Rambow laboratories!
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  .pull-right
    = user_login_links
  %body
    %p.notice= notice if notice
    %p.alert= alert if alert
  %h4
    = yield

