!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1= "#{@user.email} has commented on #{@submission.title}"
    %p= "#{@user.email} wrote:"
    %p= @content
    %br
    %p= "To view the original comment, just follow this link: #{@url}."